
body{
    overflow: overlay; 
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
}

.blockImage{
width: 50%;

background-image: url("john-price-RAZQiZOX3mU-unsplash.jpg");
background-color: yellow;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
/* border-radius: 15%; */


}

.blockFormulaire{
width: 50%;
background-color: blue;
display: flex;
flex-direction: column;
align-items: center;


}

/* form{
 
    
} */