
body{
    overflow: overlay; 
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
}

.blockImage{
width: 50%;
background-color: red;
}

.blockFormulaire{

width: 50%;
background-color: blue;
}